html {
    font-size: 16px;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
}

body {
    padding: 2rem 3rem;
}

header {
    border-bottom: 2px solid gray;
    /* display: inline-block; */
}

nav {
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: green;
}

