@import url('reset.css');
@import url('typography.css');

/* header */

header{
    display: block;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('./image/computer-main.jpg') center center no-repeat;
    background-size: cover;
    height: 30rem;
    text-shadow: 1.5px 1.5px 1.5px #000;
}

.logo-icons li a{
    display: flex;
    padding: 1rem 13rem;
    text-decoration: none;
    color: #FFF;
}

.logo-icons{
    justify-content: space-between;
    display: flex;
}

.logo-icons img{
    margin-right: 0.5rem;
    width: 1.5rem;
    height: auto;
}

header h1{
    text-align: center;
    color: #FFF;
    margin: 2.2rem auto 1rem;
    font-size: 60px;
    font-weight: bold;
}
header>p{
    display: block;
    text-align: center;
    margin: 1.5rem auto 0;
    color: #FFF;
    max-width: 32rem;
    font-size: 25px;
}

header button{
    display: block;
    margin: 3rem auto;
    border-radius: 0.2rem;
    padding: 0.6rem 1rem;
    color: rgb(231, 231, 231);
    background: #00D08E;
    border: #00D08E;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.click-paragraph{
    display: block;
    margin: 3.5rem auto 0;
}

.click-paragraph a{
    
    font-size: 22px;
    text-decoration: none;
    color:#FFF;
}

/* main */

/* section 1 */

.pic-second,
.pic-first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

main section:nth-child(1) div:nth-child(1){
    display: flex;
    width: 50%;
}

main section:nth-child(1) div:nth-child(1) img{
    width: 100%;
}

main section:nth-child(1) div:nth-child(2){
    display: block;
    width: 50%;
    height: 20rem;
}

main section:nth-child(1) div:nth-child(2) h3{
    margin: 1rem 0 1rem 3rem; ;
    font-size: 40px;
}

main section:nth-child(1) div:nth-child(2) p {
    font-size: 23px;
    margin: 1rem 3rem 2rem;
}

main section div nav ul li{
    display: flex;
}

section.pic-first>div>nav>ul>li{
    margin: 1rem 3rem;
}

section.pic-first>div>nav>ul>li>i{
    color: #00D08E;
    margin:  0 1.5rem 0 0;
}

/* section 2 */

main section:nth-child(2) div:nth-child(1){
    width: 50%;
    background: transparent;
}

main section:nth-child(2) div:nth-child(1) h3{
    display: block;
    text-align: center;
    margin: 1.5rem auto;
}

main section:nth-child(2) div:nth-child(1) ul{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

main section:nth-child(2) div:nth-child(1) ul li{
    margin: 2rem 2rem;
}

main section:nth-child(2) div:nth-child(1) ul li span{
    display: block;
    text-align: center;
    color: #00D08E;
    font-weight: bold;
}

main section:nth-child(2) div:nth-child(1) ul li img{
    display: block;
    width: 4rem;
    height: auto;
    margin: 0 auto;
}

main section:nth-child(2) div:nth-child(2){
    display: flex;
    width: 50%;
}

main section:nth-child(2) div:nth-child(2) img{
    width: 100%;
}

/* Footer */

footer{
    display: block;
    background: #B2F1DD;
}

footer h3{
    display: block;
    padding: 1.5rem 0 ;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

footer section{
    display: block;
    width: 100%;
}

footer section ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 5rem;
    
}

footer section ul li{
    display: block;
    width: 33%;
}

footer section ul li h5{
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
}

footer section ul li p {
    max-width: 18rem;
    display: block;
    margin: 0 auto;
    text-align: center;   
}

.copy-right,
.footer-site{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.email a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}



@media screen and (max-width:800px){
    
    /* header */

    .logo-icons li a{
        display: block;
        padding: 1rem 13rem;
        text-decoration: none;
        color: #FFF;
    }

    header p{
        justify-content: center;
    }

    header nav ul{
        display: block;
        text-align: center;
    }

    /* main */

    main section:nth-child(1){
        padding: 5rem 0;
    }

    main section:nth-child(3) ul li{
        width: 45%;
    }
}
