@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

html {
    font: 12px/1.5 'PT Sans',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {font-size: 2.5rem; }
h2 {font-size: 2.0rem; }
h3 {font-size: 1.8rem; }
h4 {font-size: 1.6rem; }
h5 {font-size: 1.4rem; }
h6 {font-size: 1.2rem; }

p {
    margin: 1rem 0;
}

.container {
    display: 100%;
    padding: 2rem;
}

li {
    margin-left: 2rem;
}

@media (min-width: 500px) {
    html {
        font-size: var(--font-size-body, 14px);
    }
}

@media (min-width: 700px) {
    html {
        font-size: var(--font-size-body-larger, 16px);
    }
}

@media (min-width: 1600px) {
    html {
        font-size: var(--font-size-body-huge, 18px);
    }
}