@media (max-width:1024px) {

    html {
    font-size: 12px;
    }

    .site-main {  
        margin: 0;
    }

    .entry-header {
        border-radius: 0; 
    }

    .entry-header-description {
        top: 30px;
        left: 70px;  
    }

    .button-primary {
        padding: 0.8rem 1.2rem;
    }

    .site-logos-container {
        display: flex;
        justify-content: space-between;
    }

    .site-logo {
        flex: 1 1 auto;
    }

    .site-logo:not(:last-child) {
        margin-right: 0;
      }

    .site-logo img {
        width: auto;
        height: auto;

        max-width: 10.5rem;
        max-height: 10.2rem;
    }

    .site-logo span {
        top: 54%;
    }

    .site-information-image {
        margin: 1rem;
        flex: 0 0 48%;
    }
}

@media (max-width:768px) {

    html {
        font-size: 9px;
        }

    .site-navigation ul{
        display: none;
    }

    .entry-header {
        padding: 6rem 0;
    }

    .entry-header-description {
        top: 20px;
        left: 55px;  
    }

    .site-logos-container {
        flex-wrap: wrap;
    }

    .site-logo {
        flex: 1 1 30%;
    }

    .site-information-text {
        flex: 0 0 100%;
        padding: 4rem 2rem;
        text-align: center;
    }

    .site-information-text p {
        margin: 0 auto;
    }

    .site-information-image {
        display: none;
    }

    .site-form {
        margin-top: 0;
    }

    .site-form form > p {
        flex-wrap: wrap;
    }

    .site-form label,
    .site-form input {
        flex: 0 0 100%;
        display: block;
    }

    .site-form label {
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .site-form button {
        margin: 0 auto;
    }

    .site-blog-container{
        margin-top: 0;
    }

    .site-posts {
        flex-wrap: wrap;
    }

    .site-post {
        flex: 0 0 60%;
        margin-bottom: 2rem;
    }

    .site-footer {
        flex-direction: column;
        align-items: center;
    }
}